<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>@ViewBag.Title</title>
    
    @Html.Partial("Styles")
    @Html.Partial("Scripts")


    <!-- Add local styles, mostly for plugins css file -->
    @if (IsSectionDefined("Styles"))
    {@RenderSection("Styles", required: false)}

    <script>
        //todo globalization here kendo.culture("fr-CA");
    </script>

</head>

<body class="landing-page fixed-navbar sidebar-scroll fixed-small-header">
    
    <div class="content" style="        background:  lightgrey;    ">
        @RenderBody()
    </div>

    <!-- Handler for local scripts -->
    @RenderSection("scripts", required: false)

</body>

</html>
